/*index style*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

.index_header {
  background-color: #26c07d;
  color: white;
  text-align: center;
  padding: 20px;
}

.index_nav {
  background-color: #333;
  text-align: center;
}

.index_nav a {
  color: white;
  padding: 20px 16px;
  display: inline-block;
  text-decoration: none;
}

.index_nav a:hover {
  background-color: #26c07d;
}

.index_banner {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.index_section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.index_picture {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 16px;
}

.index_picture img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.index_footer {
  background-color: #333;
  color: white;
  text-align: center;
  margin-top: 10cm;
  padding: 10px;
}

.index_animation {
  background-color: white;
  margin: 50px;
  padding: 50px;
  border-radius: 20px;
  text-align: center;
}

.anm {
  display: flex;
  gap: 5px;
  font-size: 5rem;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.anm span {
  display: inline-block;
  animation: ripple 1.2s ease-in-out infinite;
}
.anm span:nth-child(1) {
  animation-delay: 0s;
}
.anm span:nth-child(2) {
  animation-delay: 0.1s;
}
.anm span:nth-child(3) {
  animation-delay: 0.2s;
}
.anm span:nth-child(4) {
  animation-delay: 0.3s;
}
.anm span:nth-child(5) {
  animation-delay: 0.4s;
}
.anm span:nth-child(6) {
  animation-delay: 0.5s;
}

@keyframes ripple {
  0%,
  100% {
    transform: translateY(0) scale(1);
    color: #f4f4f4;
  }
  50% {
    transform: translateY(-15px) scale(1.2);
    color: #389c72;
  }
}
/*about style*/
.gioithieu_section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.ptag_gioithieu {
  font-size: 20px;
}

.picture_section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 16px;
}
.picture_section img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.tunhien_section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 16px;
}

.vanhoa_section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 16px;
}

.slider {
  display: flex;
  gap: 16px;
  overflow-x: auto; /* tạo thanh kéo ngang */
  scroll-snap-type: x mandatory;
  padding: 20px;
}

.slider img {
  flex: 0 0 50%;
  border-radius: 16px;
  scroll-snap-align: center;
}

/*ẩm thưc style*/
.gioithieu_amthuc {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 16px;
}

.gallery {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px;
  padding: 20px;
}

.card {
  width: 250px;
  background-color: #e0f2f1;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

/*ẩm thưc style*/
.dulich_section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 16px;
}

h3 {
  padding: 20px;
}
