#container{
    max-width: 1200px;
    margin: 2rem auto;
    gap: 2rem;
    padding: 0 1rem;
}
#header{
    display: block;
    height: 250px;
    background-color: bisque;
    background-image: url(./img/750003.jpg);
    background-size: cover;
}
#menu{
    background-color: lightcyan;
    color: lightblue;
    font-size:50px;
    margin-bottom: 20px;
}
#content{
    display: flex;
}
.product{
    background: var(--while);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 260px;
    height: 400px;
    transition: 0.3s;
}

.product img{
    width: 100%;
    height: 260px;
}

.product:hover{
    background-color: lightcyan;
    transform: translateY(-5px);
}

.price{
    text-align: left;
    color: green;
}