.container {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 50px;
}

.ranMT {
  width: 300px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

.ranHD {
  width: 300px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}
